name: Trading Bot Analysis

on:
  schedule:
    - cron: "0 0 * * 1-5" # Monday to Friday
    - cron: "0 1 * * 1-5" # Monday to Friday
    - cron: "0 8 * * 1-5" # Monday to Friday
  workflow_dispatch: # Manual trigger

jobs:
  analyze:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Trading Bot
        env:
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python trading_bot.py
